*{
	margin: 0;
	padding: 0;
	outline: none;
}

body{
	color: #777777;
	font-family: "Open Sans" "Times New Roman";
	font-size: 14px;
}

a{
	color: #FFFFFF;
	text-decoration:none;
	font-family: "Open Sans" "Times New Roman";
}

.container{
	width: 1170px;
	margin: 0 auto;

}

#header{
	background-color: #76c7c0;
	padding: 24px 0;
	background-image: url("../images/header_bg.png");
	background-repeat:  repeat-x;
	background-position: left bottom;
	color: white;
	height: 32px;
}

#header_nav{
	height: 33px;
}

#header_nav ul{
	list-style: none;
}

#header_nav ul li {
	float: right;
	color: #FFF;
	border-radius: 7px;

}

#header_nav ul li a {
	text-decoretion: none;
	padding: 0 30px;
	line-height: 40px;
	display: block;
}

#header_nav ul li a:hover{
	background: #62A29E;
	border-radius: 7px;
	border-bottom: 4px solid #528b86;
}

#underheader{
	height: 176px;
	background-color: #7f8c8c;
	padding-top: 157px;
	padding-bottom: 167px;
}

#vestibulum{
	font-family: "Open Sans" "Times New Roman";
	font-size: 50px;
	background-color: #e2534b;
	color: white;
	width: 346px;
	text-align: center;
	border: 1px solid #e2534b;
	border-radius: 7px;
	margin: 0 auto;
	margin-bottom: 10px;

}

#undervest{
	font-family: "Open Sans" "Times New Roman";
	font-size: 16px;
	background-color: #3f4646;
	color: white;
	width: 430px;
	text-align: center;
	border: 1px solid #3f4646;
	border-radius: 7px;
	margin: 0 auto;
	padding: 15px 20px;
}

#footer{
	background-color: #76c7c0;
	padding: 50px 0;
	color: white;
}

#footerCopy{
	padding: 20px 0;
	color: white;
	background-color: #6ab3ac;
}
